[Unit]
Description=AutoSSH tunnel to start at boot at local port 6666
After=network.target

[Service]
User=diadem
Environment="AUTOSSH_GATETIME=0"
ExecStart=/usr/bin/autossh -i /home/diadem/.ssh/id_rsa -o
UserKnownHostsFile=/dev/null -N -R 6666:localhost:22 
aucoop@147.83.200.187

[Install]
WantedBy=multi-user.target
